<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BracketOffsetBottom</key>
	<integer>-5</integer>
	<key>BracketOffsetTop</key>
	<integer>-2</integer>
	<key>BracketGripLeft</key>
	<integer>15</integer>
	<key>BracketGripRight</key>
	<integer>0</integer>
	<key>BracketPosX</key>
	<integer>6</integer>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.thinkyhead.fretpet.guitar.platinum</string>
	<key>CursorHandle</key>
	<dict>
		<key>X</key>
		<integer>6</integer>
		<key>Y</key>
		<integer>6</integer>
	</dict>
	<key>CursorSpeed</key>
	<integer>15</integer>
	<key>EffectFrames</key>
	<integer>6</integer>
	<key>EffectHandle</key>
	<dict>
		<key>X</key>
		<integer>9</integer>
		<key>Y</key>
		<integer>9</integer>
	</dict>
	<key>EffectSpeed</key>
	<integer>20</integer>
	<key>FirstFretY</key>
	<integer>43</integer>
	<key>FirstStringLowestFret</key>
	<integer>0</integer>
	<key>FirstStringX</key>
	<integer>30</integer>
	<key>FretsEvenlySpaced</key>
	<false/>
	<key>FretY</key>
	<array>
		<integer>24</integer>
		<integer>43</integer>
		<integer>76</integer>
		<integer>106</integer>
		<integer>137</integer>
		<integer>166</integer>
		<integer>193</integer>
		<integer>219</integer>
		<integer>243</integer>
		<integer>266</integer>
		<integer>287</integer>
		<integer>308</integer>
		<integer>327</integer>
		<integer>345</integer>
		<integer>362</integer>
		<integer>378</integer>
		<integer>394</integer>
		<integer>408</integer>
		<integer>422</integer>
		<integer>436</integer>
	</array>
	<key>LabelFont</key>
	<string>Geneva 9 condense</string>
	<key>LastFretY</key>
	<integer>436</integer>
	<key>LastStringX</key>
	<integer>85</integer>
	<key>MenuGroup</key>
	<string>Small Guitars</string>
	<key>Name</key>
	<string>Platinum</string>
	<key>NativeTuning</key>
	<array>
		<integer>4</integer>
		<integer>9</integer>
		<integer>14</integer>
		<integer>19</integer>
		<integer>23</integer>
		<integer>28</integer>
	</array>
	<key>NumberOfFrets</key>
	<integer>18</integer>
	<key>NumberOfStrings</key>
	<integer>6</integer>
	<key>OctaveModifier</key>
	<integer>0</integer>
	<key>OpenFretY</key>
	<integer>24</integer>
	<key>StringX</key>
	<array>
		<integer>30</integer>
		<integer>41</integer>
		<integer>52</integer>
		<integer>63</integer>
		<integer>74</integer>
		<integer>85</integer>
	</array>
	<key>TitleFont</key>
	<string>Georgia 11 bold</string>
	<key>TitleMargin</key>
	<integer>3</integer>
</dict>
</plist>
