<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BracketGripLeft</key>
	<integer>32</integer>
	<key>BracketGripRight</key>
	<integer>32</integer>
	<key>BracketOffsetBottom</key>
	<integer>-6</integer>
	<key>BracketOffsetTop</key>
	<integer>-14</integer>
	<key>BracketPosX</key>
	<integer>6</integer>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.thinkyhead.fretpet.guitar.redvelvet</string>
	<key>CursorHandle</key>
	<dict>
		<key>X</key>
		<integer>6</integer>
		<key>Y</key>
		<integer>6</integer>
	</dict>
	<key>CursorSpeed</key>
	<integer>12</integer>
	<key>EffectFrames</key>
	<integer>6</integer>
	<key>EffectHandle</key>
	<dict>
		<key>X</key>
		<integer>9</integer>
		<key>Y</key>
		<integer>9</integer>
	</dict>
	<key>EffectSpeed</key>
	<integer>30</integer>
	<key>FirstFretY</key>
	<integer>63</integer>
	<key>FirstStringLowestFret</key>
	<integer>0</integer>
	<key>FirstStringX</key>
	<integer>52</integer>
	<key>FretY</key>
	<array>
		<integer>42</integer>
		<integer>63</integer>
		<integer>115</integer>
		<integer>161</integer>
		<integer>207</integer>
		<integer>249</integer>
		<integer>291</integer>
		<integer>329</integer>
		<integer>365</integer>
		<integer>400</integer>
		<integer>431</integer>
		<integer>462</integer>
		<integer>492</integer>
		<integer>520</integer>
		<integer>545</integer>
		<integer>569</integer>
		<integer>593</integer>
		<integer>613</integer>
		<integer>634</integer>
		<integer>651</integer>
	</array>
	<key>FretsEvenlySpaced</key>
	<false/>
	<key>LabelColor</key>
	<string>FF0</string>
	<key>LabelFont</key>
	<string>Arial 12 bold</string>
	<key>LastFretY</key>
	<integer>651</integer>
	<key>MenuGroup</key>
	<string>Large Guitars</string>
	<key>LastStringX</key>
	<integer>123</integer>
	<key>Name</key>
	<string>Red Velvet</string>
	<key>NativeTuning</key>
	<array>
		<integer>4</integer>
		<integer>9</integer>
		<integer>14</integer>
		<integer>19</integer>
		<integer>23</integer>
		<integer>28</integer>
	</array>
	<key>NumberOfFrets</key>
	<integer>18</integer>
	<key>NumberOfStrings</key>
	<integer>6</integer>
	<key>NutSize</key>
	<integer>10</integer>
	<key>OctaveModifier</key>
	<integer>0</integer>
	<key>OpenFretY</key>
	<integer>42</integer>
	<key>StringX</key>
	<array>
		<integer>52</integer>
		<integer>66</integer>
		<integer>80</integer>
		<integer>94</integer>
		<integer>108</integer>
		<integer>123</integer>
	</array>
	<key>TitleColor</key>
	<string>FFF</string>
	<key>TitleFont</key>
	<string>Helvetica 15 bold</string>
	<key>TitleMargin</key>
	<integer>8</integer>
</dict>
</plist>
