<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fret</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>FPFile.icns</string>
			<key>CFBundleTypeName</key>
			<string>FretPet Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BANK</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>FPDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>guitar</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>FPGuitar.icns</string>
			<key>CFBundleTypeName</key>
			<string>FPGuitarBundle</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.thinkyhead.fretpet.guitar</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>FretPet</string>
	<key>CFBundleIconFile</key>
	<string>FretPet</string>
	<key>CFBundleIdentifier</key>
	<string>com.thinkyhead.fretpet</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>1.4 © 2014 Thinkyhead Software</string>
	<key>CFBundleName</key>
	<string>FretPet</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4</string>
	<key>CFBundleSignature</key>
	<string>FréT</string>
	<key>CFBundleVersion</key>
	<string>1.4</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>NSApplescriptEnabled</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© 2014 Thinkyhead Software</string>
	<key>NSMainNibFile</key>
	<string>FretPet</string>
	<key>NSPrincipalClass</key>
	<string>FPApplication</string>
	<key>SUFeedURL</key>
	<string>http://www.thinkyhead.com/sparkle/FretPetAppcast.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>FretPet Bank</string>
			<key>UTTypeIconFile</key>
			<string>FPFile</string>
			<key>UTTypeIconName</key>
			<string>FPFile.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.thinkyhead.fretpet.bank</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.thinkyhead.com/formats-refererence/BANK</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>BANK</string>
				<key>public.filename-extension</key>
				<array>
					<string>fret</string>
				</array>
				<key>public.mime-type</key>
				<string>application/data</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
