<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BracketGripLeft</key>
	<integer>12</integer>
	<key>BracketGripRight</key>
	<integer>0</integer>
	<key>BracketOffsetBottom</key>
	<integer>-1</integer>
	<key>BracketOffsetTop</key>
	<integer>-6</integer>
	<key>BracketPosX</key>
	<integer>92</integer>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.thinkyhead.fretpet.guitar.overview</string>
	<key>CursorSpeed</key>
	<integer>12</integer>
	<key>EffectSpeed</key>
	<integer>20</integer>
	<key>FirstFretY</key>
	<integer>92</integer>
	<key>FirstStringLowestFret</key>
	<integer>0</integer>
	<key>FirstStringX</key>
	<integer>109</integer>
	<key>FretY</key>
	<array>
		<integer>78</integer>
		<integer>92</integer>
		<integer>119</integer>
		<integer>142</integer>
		<integer>163</integer>
		<integer>182</integer>
		<integer>199</integer>
		<integer>214</integer>
		<integer>228</integer>
		<integer>241</integer>
		<integer>253</integer>
		<integer>264</integer>
		<integer>274</integer>
		<integer>283</integer>
		<integer>291</integer>
		<integer>299</integer>
		<integer>308</integer>
		<integer>317</integer>
		<integer>325</integer>
		<integer>333</integer>
		<integer>341</integer>
		<integer>348</integer>
		<integer>355</integer>
	</array>
	<key>FretsEvenlySpaced</key>
	<false/>
	<key>LabelFont</key>
	<string>Arial 11 bold</string>
	<key>LabelColor</key>
	<string>#F00</string>
	<key>LabelPegs</key>
	<dict>
		<key>1</key>
		<dict>
			<key>X</key>
			<integer>66</integer>
			<key>Y</key>
			<integer>71</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>X</key>
			<integer>71</integer>
			<key>Y</key>
			<integer>49</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>X</key>
			<integer>76</integer>
			<key>Y</key>
			<integer>27</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>X</key>
			<integer>169</integer>
			<key>Y</key>
			<integer>27</integer>
		</dict>
		<key>5</key>
		<dict>
			<key>X</key>
			<integer>174</integer>
			<key>Y</key>
			<integer>49</integer>
		</dict>
		<key>6</key>
		<dict>
			<key>X</key>
			<integer>179</integer>
			<key>Y</key>
			<integer>71</integer>
		</dict>
	</dict>
	<key>LastFretY</key>
	<integer>355</integer>
	<key>LastStringX</key>
	<integer>136</integer>
	<key>MenuGroup</key>
	<string>Utility Views</string>
	<key>Name</key>
	<string>Acoustic 600</string>
	<key>NativeTuning</key>
	<array>
		<integer>4</integer>
		<integer>9</integer>
		<integer>14</integer>
		<integer>19</integer>
		<integer>23</integer>
		<integer>28</integer>
	</array>
	<key>NumberOfFrets</key>
	<integer>21</integer>
	<key>NumberOfStrings</key>
	<integer>6</integer>
	<key>NutSize</key>
	<integer>5</integer>
	<key>OctaveModifier</key>
	<integer>0</integer>
	<key>OpenFretY</key>
	<integer>79</integer>
	<key>StringX</key>
	<array>
		<integer>109</integer>
		<integer>114</integer>
		<integer>120</integer>
		<integer>125</integer>
		<integer>131</integer>
		<integer>136</integer>
	</array>
	<key>TitleFont</key>
	<string>Helvetica 20 bold extend</string>
	<key>TitleColor</key>
	<string>White</string>
	<key>TitleMargin</key>
	<integer>48</integer>
</dict>
</plist>
